<div class="contents-row">
  <div class="user-form">
    <h2>新規会員登録</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "field-form", placeholder: "　メールアドレスを入力してください" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "field-form", placeholder: "　パスワードを入力してください" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "field-form", placeholder: "　パスワードを再入力してください" %>
      </div>

      <div class="actions">
        <%= f.submit "決定", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>