<div class="content-title">
  θ­γ‚“γ ζ¬γ«γ¤γ„γ¦ζ›Έγ“γ†π“
</div>

<%= form_with model: @post, class: :form, local: true do |form| %>
  <%= form.text_field :title, placeholder: :γ‚Ώγ‚¤γƒγƒ«γ‚’θ¨ε…¥γ—γ¦γγ γ•γ„, class: :form__title %>
  <%= form.text_field :review, placeholder: :θ©•δΎ΅γ—γ¦γγ γ•γ„, class: :form__review %>
  <%= form.text_area :content, placeholder: :ζ„ζƒ³γ‚’θ¨ε…¥γ—γ¦γγ γ•γ„, class: :form__content %>
  <%= form.text_field :image, placeholder: :η”»εƒURLγ‚’θ¨ε…¥γ—γ¦γγ γ•γ„, class: :form__image %>
  <%= form.submit 'ζ•η¨Ώγ™γ‚‹', class: :"btn btn-success mt-4" %>
<% end %>