<div class="show">
  <div class="postManage">
    <% if user_signed_in? && current_user.id == @post.user_id %>
      <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-outline-secondary" %>
      <%= link_to "削除", post_path(@post.id), method: :delete, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
  <div class="post">
    <div class="post__User">
      投稿者：<%= link_to @post.user.nickname, user_path(@post.user), class: "post__User__name" %>
        <div class="post__User__name__date">
          <%= @post.created_at.to_s(:datetime_jp) %>
        </div>
    </div>
    <div class="post-box">
      <div class="post-box__ImageBox">
        <img src=<%= @post.image %> class="post-box__ImageBox__Image" >
      </div>
      <div class= post-box__content>
        <div class="post-box__content__Title">
          <%= @post.title %>
        </div>
        <div class="post-box__content__Review">
          評価：⭐️<%= @post.review %>
        </div>
        <div class="post-box__content__Text">
          <%= simple_format @post.content %>
        </div>
        <%= render 'likes/like', post: @post %>
      </div>
    </div>
  </div>
  <div class="post-redirect">
    <%= link_to "投稿一覧へ戻る", menu_posts_path, class: "btn btn-outline-secondary" %>
  </div>
  <div class="post-redirect">
    <%= link_to "ホームへ戻る", root_path, class: "btn btn-outline-secondary" %>
  </div>
</div>